.titles {
    padding-top:32px;
    padding-bottom: 32px;
    padding-left: 16px;
    padding-right: 16px;
}

.mainTitle {
    font-family: 'Alfa Slab One', cursive;
    color: #17252A;
}

.subTitle {
    font-family: 'Lato', sans-serif; 
    color: #FEFFFF;
    font-weight: bold
}