.jumbotron {
   background-color: #3AAFA9 !important
   
}

.mainTitle {
    font-family: 'Alfa Slab One', cursive;
    color: #17252A;
}

.subTitle {
    font-family: 'Lato', sans-serif; 
    color: #FEFFFF;
    font-weight: bold
}