.results {
    margin-bottom: 30px;
}

span {
    visibility: hidden;
    font-size: 1px;
}

h1, h2, p {
    text-align:center;
    margin-bottom: 15px;
    color: #17252A;
}

img {
    display: block;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    height: 150px;
    width: 150px;
}

.error {
margin-top: 50px;
}

p{
    font-size:25px;
}

.results {
    font-family: 'Alfa Slab One', cursive;
}