.city, .country {
    margin-left: 5px;
}

legend {
    display: none;
}

fieldset {
    border: 0;
}

label {
    font-family: 'Alfa Slab One', cursive;
    font-size: 20px;
    color: #17252A;
}

input.form-control {
    background-color: #FEFFFF;
    font-family: 'Lato', sans-serif !important;
    font-weight: bold;
}

.btn {
    font-family: 'Lato', sans-serif !important;
    font-weight: bold;
    background-color: #17252A;
    color: #FEFFFF;
    margin-right: auto;
    margin-left: auto;
    margin-top: 30px;
}

.btn:hover {
    color: #DEF2F1;
}



