.city, .country {
    margin-left: 5px;
}

legend {
    display: none;
}

fieldset {
    border: 0;
}

label {
    font-family: 'Alfa Slab One', cursive;
    font-size: 20px;
}

input.form-control {
    background-color: #FEFFFF;
    font-family: 'Lato', sans-serif !important;
    font-weight: bold;
    color: #17252A;
}

